header {
    text-align: center;
}
body{
    background-color: pink;
}
main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.nelson {
    display: block;
    width: 25%;
    margin: 0 auto;
}
h1 {
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
}
h1:hover {
    color: black;
}
.list {
    text-align: center;
}
.list ol{
    text-align:left;
    width:20%;
    margin: 50px auto;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 2em;
}