.main {
    background-color: rgb(39, 39, 39);
    width: 100%;
}

.sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.main_img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 50px;
    /* border: 2px solid black; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.text {
    grid-column: 2/3;
    grid-row: 3/5;
    box-sizing: border-box;
    /* border: 2px solid black; */
    /* margin: auto; */
}

.text_1 {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 2fr;
}

h4 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    color: rgb(0, 102, 255);
    align-self: start;
}

h1 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-top: -10px;
}

p {
    grid-column: 1/4;
    grid-row: 3/4;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    justify-self: center;
    
}

.footer {
    grid-column: 2/3;
    grid-row: 5/7;
    box-sizing: border-box;
    /* border: 2px solid black; */
    margin-top: -60px;
    margin-bottom: 200px;
}

.footer_1 {
    /* margin: auto; */

    background-color: rgb(35, 35, 192);
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.first {
    font-size: 30px;
    color: white;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}

.first_p {
    font-size: 17px;
    color: white;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin-top: -30px;
}

.second {
    font-size: 30px;
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}

.second_p {
    font-size: 15px;
    color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin-top: -30px;
}

.third {
    font-size: 30px;
    color: white;
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
}

.third_p {
    font-size: 17px;
    color: white;
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    margin-top: -30px;
}